@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  /* Neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}


* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: black;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 45px;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  padding: 20px;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
}

h1::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h1::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h1:focus {
  outline: none;
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow:
    -0.2rem -0.2rem 1rem #fff,
     0.2rem 0.2rem 1rem #fff,
     0 0 2rem var(--neon-text-color),
     0 0 4rem var(--neon-text-color),
     0 0 6rem var(--neon-text-color),
     0 0 8rem var(--neon-text-color),
     0 0 10rem var(--neon-text-color);

     box-shadow:
      0 0 .5rem #fff,
      inset 0 0 .5rem #fff,
      0 0 2rem var(--neon-border-color),
      inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color),
      inset 0 0 4rem var(--neon-border-color);
  }

  20%, 24%, 55% {
    text-shadow: none;
    box-shadow: none;
  }
}

canvas {
  background: #dddcdc;
  display: block;
  border-radius: 5px;
  margin-bottom: 20px;
}

.btn {
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  background-color: #3f6c83;
  color: white;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background-color: #222;
}

.btn:active {
  transform: scale(.98);
}

.rules-btn {
  display: block;
  margin: auto;
  padding: 1rem 1.25rem;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  text-shadow:
    -2px 4px 4px #091243, 
    0 0 10px var(--neon-border-color),
    inset 1px 1px 1px white;
  color: white;
  border: 2px solid;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 
    0 1px 2px rgba(0,0,0, 0.6), 
    2px 1px 4px rgba(0,0,0, 0.3), 
    2px 4px 3px rgba(3,0,128, 0.3), 
    0 0 7px 2px rgba(0,208,255, 0.6), 
    inset 0 1px 2px rgba(0,0,0, 0.6), 
    inset 2px 1px 4px rgba(0,0,0, 0.3), 
    inset 2px 4px 3px rgba(3,0,128, 0.3), 
    inset 0 0 7px 2px rgba(0,208,255, 0.6);
  animation: flickering 5s infinite;
}

@keyframes flickering {
  0% {
    border-color: transparent;
    opacity: 0.2;
  }
  
  2% {
    border-color: var(--neon-border-color);
    opacity: 1;
  }
  
  4% {
    border-color: transparent;
    opacity: 0.2;
  }
  
  8% {
    border-color: var(--neon-border-color);
    opacity: 1;
  }
  
  28% {
    border-color: var(--neon-border-color);
    opacity: 1;
  }
  
  30% {
    border-color: transparent;
    opacity: 0.2;
  }
  
  36% {
    border-color: var(--neon-border-color);
    opacity: 1;
  }
  
  100% {
    border-color: var(--neon-border-color);
    opacity: 1;
  }
}

.rules-btn {
  position: absolute;
  top: 30px;
  left: 30px;
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(48, 46, 46);
  min-height: 100vh;
  width: 250px;
  padding: 20px;
  line-height: 1.5;
  transform: translateX(-400px);
  transition: transform 1s ease-in-out;
}

.rules.show {
  transform: translateX(0);
}